<nav>
    <div class="logo-wrap">
        <img class="logo" src="https://welovephil.com/image/phil.JPG"  alt="Phil"/> <!-- image in project /phil.JPG-->
    </div>
    <div class="title2">
        <a class="nos" href="/"> In Loving Memory of:</a>
        <p class="nos">Philip E. Rose &#x1F339;</p>
    </div>
    <ul>
        <li><a href="/">Posts</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/blogs/create">Add New Post</a> </li>

    </ul>
</nav>
<div class="bar">
  
</div>