<html lang="en">
    <%- include('./partials/head.ejs') %> <!-- head.js found in partials folder-->
<body>
    <div class="title">
        <h1>About Phil</h1>
    </div>
    <%- include('./partials/nav.ejs') %> <!-- nav.js found in partials folder-->

    <div class="bg">
    <div class="about-content">
        <h2>&#127802;</h2>
            <div class="about-phil">
                <p>
                    Philip Earl Rose was born on march 7, 1943 in hattiesburg, Mississippi to Paul Rose Jr. and Ester Tingle Stults. Philip has 2 brothers and 1 sister. 
                    Philip was baptized as one of Jehovah’s Witnesses in 1958. He graduated from Lincoln High School in San Diego in 1961.<br/> After high school he special pioneered in Louisiana, where he met his wife in 1962.
                    Philip and Rosalyn were married on December 19,1964. They moved  to San Diego where they raised four children.<br/> &#127802;<br/> Philip’s occupation was an interior designer and worked on various projects, including designing the box offices at Dodger Stadium and projects at assembly and kingdom hall builds.
                    Philip E. Rose fell asleep in death on January 15, 2024 at home with his family.<br/> Philip is survived by his wife of 59 years, Rosalyn. His daughters Tiffany Valladares, Tierra Klassen, Terisa Hernandez, and his son Phillip Andrew Rose. Philip has seven grandchildren: Kirsti, Reyes, Ashley, Drake, Collin, Asher, Jade; and one great-grandchild: Everly.<br/>
                    &#x1F339;
                </p>
                <p class="bilbo">We Love You Dad</p>
            </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>