<html lang="en">
    <%- include('./partials/head.ejs') %> <!-- head.js found in partials folder-->
<body>
    <div class="title">
        <h1>Hello Earthlings</h1>
    </div>
    <%- include('./partials/nav.ejs') %> <!-- nav.js found in partials folder-->

    <div>
        <h2>Page Not Found 404 Error...</h2>
    </div>

    <div class="center">
        <img id="error" src="https://images.pexels.com/photos/9830820/pexels-photo-9830820.jpeg?auto=compress&cs=tinysrgb&w=1200" alt="error" style="height:280px;width:auto;"/> <!-- image in project /computerError.jpg-->
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>